<h1 class="head">Information</h1>

<p class="para">
  Thank you so much For visiting this website. This is for you only, Yes it's true!
  I wanna tell you some instructions to use this website. Sorry for complexity.
  The Home Page, you are watching is only for Sign Up and Log in.
  There is more beyond. I'll show you everything in just a moment.
</p>

<section class="container experiences">

  <h2> Home Page </h2>

  <div class="experience-item">
    <h3> Navigation Bar </h3>
    <p>After Sign Up or Log in you are ready to fly in sky.
      The first thing that I'll instruct you about is the navigation bar which is
      located at the top of this page. There is a button HOME
      you can click on that button to go to Home page where all orders all located/listed.
      After clicking HOME you'll see two links there. One for creating order and the other for
      calculations of your orders. Click Create Order button and then write the name of your
      order and then some description. After writing everything hit Create Order button and you
      have successfully created your first order. You can click on it to see it. You can see there
      two buttons one for Edit and second for Delete.
    </p>
  </div>

  <div class="experience-item">
    <h3> Calculations </h3>
    <p>
      To see calculations you can click Calculations button. There calculations are listed.
      There are same functions for both Orders and Calculations. There si only one difference between
      them, In order to create a calculation You will have to mention Order ID in Order ID section.
      The Question is, where you can find id of your order. Now There's a solution for it, you can check
      ID of your order in show section/by clicking your order.
    </p>
  </div>

</section>