<h1 class="head">Information</h1>

<p class="para">
  Thank you so much For visiting this website. This is for you only, Yes it's true!
  I wanna tell you some instructions to use this website. Sorry for complexity
</p>